<!-- templates/partials/new_feature_form.html -->
<div class="mb-4">
    <form
        hx-post="{% url 'otf_mvt:feature-list' %}"  <!-- URL du ViewSet pour créer une Feature -->
        hx-trigger="change from:input"
        hx-target="#feature-list"  <!-- Cible le conteneur des features pour actualiser la liste -->
        hx-swap="beforeend"
        class="d-flex align-items-center"
    >
        <input
            type="text"
            name="name"
            placeholder="Nouvelle fonctionnalité"
            class="form-control me-2"
            required
        />
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
</div>
